/* リセットCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* ヘッダースタイル */
header {
  background-color: #333;
  color: #fff;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* ヒーローイメージスタイル */
#hero {
    max-width: 100%; /* 横幅を最大まで設定 */
    background-image: url('your-hero-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 動画コンテナのスタイル */
.video-container {
    position: relative;
    max-width: 100%; /* 横幅を最大まで設定 */
    overflow: hidden; /* 親要素からはみ出た部分を非表示に */
}

/* 動画のスタイル */
.video-container video {
    width: 100%; /* 動画を親要素に合わせて表示 */
    height: auto; /* 高さを自動調整 */
}

.hero-content {
  text-align: center;
}

/* セクションの共通スタイル */
section {
  padding: 40px;
}

/* フッタースタイル */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.icon {
  font-size: 48px;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {
  header {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
  }

  .logo {
      margin-bottom: 10px;
  }

  nav {
      margin-top: 10px;
  }

  nav ul {
      flex-direction: column;
  }

  nav li {
      margin-right: 0;
      margin-bottom: 10px;
  }

  #hero {
      height: auto;
      padding: 40px 0;
  }

  .hero-content {
      text-align: center;
  }

  section {
      padding: 20px;
  }
}

/* 動画タイルコンテナをフレキシブルなグリッドに設定 */
.video-tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* タイルを均等に配置 */
  gap: 20px; /* タイル間のスペースを設定 */
}

/* 動画タイルのスタイル */
.video-tile {
  /* 背景を透明にする */
  background-color: transparent;
  /* その他のスタイルを設定 */
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
